@import './colors.scss';

.scorepad-container {
  table {
    border-collapse: collapse;
    width: 35%;
  }

  tr td:first-child {
    border-left: 3px solid black;
  }

  tr:last-child {
    border-bottom: 3px solid black;
  }

  tr th:first-child {
    border-left: 3px solid black;
  }

  td, th {
    border-right: 3px solid black;
    border-top: 1px solid black;
  }

  input {
    height: 4rem;
    width: 100%;
    padding: 0%;
    border: none;
  }

  .cards-row {
    height: 4rem;
    svg {
      margin: 0.5rem 0;
      height: 75%;
    }
  }
  
  .blue {
    background-color: var(--blue);
    input {
      background-color: var(--blue);
    }
  }
  
  .green {
    background-color: var(--green);
    input {
      background-color: var(--green);
    }
  }
  
  .yellow {
    background-color: var(--yellow);
    input {
      background-color: var(--yellow);
    }
  }
  
  .purple {
    background-color: var(--purple);
    input {
      background-color: var(--purple);
    }
  }
  
  .pyramid {
    background-color: var(--pyramid);
    input {
      background-color: var(--pyramid);
    }
  }
  
  .science {
    background-color: var(--science);
    input {
      background-color: var(--science);
    }
  }
  
  .coins {
    background-color: var(--yellow);
    input {
      background-color: var(--yellow);
    }
  }
  
  .military {
    background-color: var(--military);
    input {
      background-color: var(--military);
    }
  }

  .sigma {
    font-family: Georgia, serif;
    background-color: black;
    color: #FFF;
    font-size: 3.55rem;
    text-align: center;
  }

  span.sigma {
    color: #000;
    background-color: #FFF;
    display: block;
  }

  .P1, .P2 {
    font-family: Georgia, serif;
    color: rgb(7, 7, 7);
    font-size: 2rem;
    text-align: center;
  }

}
